<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>index</h1>
    <%= mem[0] %><br>
        <%= mem[0].id %><br>
            <%= mem[1].name %><br>
            <hr>
            <% mem.forEach( data => { %>
                id : <%= data.id %><br>
                name : <a href="/info?id=<%= data.id %>"><%= data.name %></a><br>
                addr : <%= data.addr %><br>
            <% }) %>
            <hr>
            <% for(i=0 ; i < mem.length ; i++ ) { %>
                id : <%= mem[i].id %><br>
            <% } %>
</body>

</html>