<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body align="center">
    <%- include("../default/header") %>
        <table border="1" style="margin: 0 auto; margin-top: 50px;">
            <tr>
                <th>번호</th>
                <th>id</th>
                <th>제목</th>
                <th>날짜</th>
                <th>조회수</th>
                <th>원본 이미지 이름</th>
                <th>변경 이미지이름</th>
            </tr>
            <% list.forEach(data=> { %>
                <tr>
                    <td>
                        <%= data.WRITE_NO %>
                    </td>
                    <td>
                        <%= data.ID %>
                    </td>
                    <td>
                        <a href="/board/content/<%= data.WRITE_NO %>">
                            <%= data.TITLE %>
                        </a>
                    </td>
                    <td>
                        <%= data.SAVE_DATE %>
                    </td>
                    <td>
                        <%= data.HIT %>
                    </td>
                    <td>
                        <%= data.ORIGIN_FILE_NAME %>
                    </td>
                    <td>
                        <%= data.CHANGE_FILE_NAME %>
                    </td>
                </tr>
                <% }) %>
                    <% if(list.length==0) { %>
                        <tr>
                            <td colspan="7" align="center">
                                <b>등록된 글이 없습니다.</b>
                            </td>
                        </tr>
                        <% } %>
                            <tr>
                                <td colspan="7" style="text-align: right;">
                                    <% if(start> 1) { %>
                                        <button onclick="location.href='/board/list?start=<%= start-1%>'">이전</button>
                                        <% } %>
                                            <% for (let i=1 ; i <=page ; i ++) { %>
                                                <a href="/board/list?start=<%= i %>">
                                                    <%= i %>
                                                </a>
                                                <% } %>
                                                    <% if ( start < page) { %>
                                                        <button
                                                            onclick="location.href='/board/list?start=<%= start+1%>'"></button>
                                                        <% } %>
                                                            <a href="/board/write_form">글 작성</a>
                                </td>
                            </tr>
        </table>

</body>

</html>